<html>
  <body>
    <h1>My Currency To Text Converter</h1>

    <form action="" method="post" accept-charset="UTF-8"required>
        <label>Number:
          <input name="number" type="number" placeholder="12345.67" step="0.01" min="0" max="1000000000" required/>
        </label><br /><br />
        <label>Language:
          <select name="Language">
            <option value="English"selected>English</option>
            <option value="Bengali" >Bengali</option>
            <option value="Gujrati">Gujrati</option>
            <option value="Marathi">Marathi</option>
            <option value="Hindi">Hindi</option>
          </select>
        </label> 
        <br /><br />
        <label>Submit:
          <input type="Submit" value="check">
        </label>
        <br> 
 <dl>
 <dt>{{ name }}</dt>
<dt>{{ items }}</dt>
</dl>
 <style>
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
</style>
  <input type="text" id="myText" value="{{items}}" >
<br>
  <div class="popup" onclick="myFunction()">Click me copy to clipboard!
  <span class="popuptext" id="myPopup">Text copied!</span>
  </div>
  <script>
function myFunction() {
  var copyText = document.getElementById("myText");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");

var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
  </body>
</html>
